<!-- main-footer -->
<footer class="main-footer">
    <div class="footer-top bg-color-2">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget about-widget">
                        <div class="widget-title">
                            <h3>A propos</h3>
                        </div>
                        <div class="text">
                            <p>La SAFER est une entreprise de gestion immobilière. La Société d’aménagement foncier et d’établissement rural
                                (Safer) permet à tout porteur de projet viable – qu’il soit agricole, artisanal, de service, résidentiel ou
                                environnemental – de s’installer en milieu rural.
                                Elle propose donc un certain nombre de biens agricoles à la vente ou à la location à l'intention des porteurs
                                de projets. Les biens proposés sont donc à la vente ou à la location.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget ml-70">
                        <div class="widget-title">
                            <h3>Services</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list class">
                                <li><a href="{{ path ('app_accueil') }}">Accueil</a></li>
                                <li><a href="{{ path ('app_biens') }}">Biens</a></li>
                                <li><a href="categories">Catégories</a></li>
                                <li><a href="{{ path ('app_favoris') }}">Favoris</a></li>
                                <li><a href="{{ path ('app_contact') }}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget contact-widget">
                        <div class="widget-title">
                            <h3>Contacts</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="info-list clearfix">
                                <li><i class="fas fa-map-marker-alt"></i>263 avenue Général Leclerc, Rennes, France</li>
                                <li><i class="fas fa-microphone"></i><a href="tel:23055873407">+33 6 12 34 56 78</a></li>
                                <li><i class="fas fa-envelope"></i><a href="mailto:info@example.com">safer@mail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-box clearfix">

                <div class="copyright pull-left">
                    <p><a href="{{ path ('app_accueil') }}">Safer</a> &copy; 2023 Tous droits réservés</p>
                </div>
                <ul class="footer-nav pull-right clearfix">
                    <li><a href="{{ path ('app_accueil') }}">SAFER immobilier</a></li>
                    <li><a href="{{ path ('app_accueil') }}">Par SAFER</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->