{% extends 'base.html.twig' %}

{% block title %}Gérer les biens{% endblock %}

{% block body %}
    <h1>Gérer les Biens</h1>
    <a href="{{ path("admin.bien.ajout") }}" class="btn blue">Ajouter un bien</a>
    <table class="table striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Titre</th>
            <th>Surface</th>
            <th>Prix</th>
            <th>Localisation</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{bien.id}}</td>
                <td>{{bien.Type}}</td>
                <td>{{bien.titre}}</td>
                <td>{{bien.surface}}</td>
                <td>{{bien.prix}}</td>
                <td>{{bien.localisation}}</td>
                <td>{{bien.description}}</td>
                <td class="text-center">
                    <a href="{{ path("admin.bien.modifier", {id: bien.id}) }}" class="btn blue">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}