{% extends 'layout/layout.html.twig' %}

{% block content %}

    <!-- page wrapper -->
    <body>

    <div class="boxed_wrapper">

        <!--Page Title-->
        <section class="page-title centred" style="background-image: url(assets/images/image20.jpg);">
            <div class="auto-container">
                <div class="content-box clearfix">
                    <h1>Vos favoris</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="accueil">Accueil</a></li>
                        <li>Favoris</li>
                        <div class="deals-grid-content grid-item">
                            <div class="row clearfix">
                                {% for bien in biens %}
                                    <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                                        <div class="feature-block-one">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="assets/images/image8.jpg" alt=""></figure>
                                                </div>
                                                <div class="lower-content">
                                                    <div class="title-text"><h4>{{ bien.getBien().titrebien }}</h4></div>
                                                    <div class="price-box clearfix">
                                                        <div class="price-info pull-left">
                                                            <h4>{{ bien.getBien().prixbien }}€</h4>
                                                        </div>
                                                        <ul class="other-option pull-right clearfix", style = "background-color: #2dbe6c">
                                                            <li><a href="{{ path('app_lesfavorissup', {'id': bien.id}) }}"><i class="icon-13"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <p>{{ bien.getBien().descriptionbien }}</p>
                                                    <ul class="more-details clearfix">
                                                        <li>{{ bien.getBien().surfacebien }}</li>
                                                    </ul>
                                                    <div class="btn-box"><a href="{{ path('app_details', {'id': bien.id}) }}" class="theme-btn btn-two">Voir les détails</a></div>
                                                    <div class="send-mail">
                                                        <div class="btn-box"><a href="{{ path('app_mailing') }}" class="btn btn-dark">Me l'envoyer par mail</a></div>
                                                    </div>
                                                </div>-
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

{% endblock content %}